.paging {
  display: flex;
  justify-content: center;
  width: 100%;
}

.page-link {
  color: #fff;
  background-color: #91ACCC;
  border: 1px solid #ccc;
}

.page-item.active .page-link {
  z-index: 1;
  color: #555;
  font-weight:bold;
  background-color: #f1f1f1;
  border-color: #ccc;

}

.page-link:focus, .page-link:hover {
  color: #000;
  background-color: #fafafa;
  border-color: #ccc;
}

#main {
  width: 100%;
}
.quiz-filter {

}

.checkAnswer {
  margin-top: 15px;
  border-radius: 0px;
  color: #2196F3;
  background-color: #ffffff;
  border-color: #2196F3;
  width: 100px;
  height: 25px;
  border-style: solid;
  border-width: 2px;
}
