@media screen {

}

.form {
  margin-top: 50px;
  width: 100%;
  text-align: center;
}
.form input {
  width: 250px;
  height: 40px;
  border-style: solid;
  border-width: medium;
  margin-bottom: 30px;
  border-color: #C0D8C0;
  font-size: 20px;
}

.form textarea {
  border-style: solid;
  border-width: medium;
  margin-bottom: 35px;
  border-color: #C0D8C0;
  font-size: 20px;
}


.form td {
	/* border: 1px solid grey; */
	text-align: center;
}
.form th {
	border-bottom: 2px solid grey;
	text-align: center;
}
.form td button {
  width: 80px;
  height: 40px;
  border-style: solid;
  border-width: medium;
  border-color: #91ACCC;
  font-size: 15px;
  margin-bottom: 0px;
  align-items: center;
}

.page-link {
  color: #fff; 
  background-color: #91ACCC;
  border: 1px solid #ccc; 
}

.page-item.active .page-link {
 z-index: 1;
 color: #555;
 font-weight:bold;
 background-color: #f1f1f1;
 border-color: #ccc;
}

.page-link:focus, .page-link:hover {
  color: #000;
  background-color: #fafafa; 
  border-color: #ccc;
}

#user-form {
	margin-top: 20%;
}

.tableList:hover {
	background-color: #91ACCC;
	color: white;
	cursor: pointer;
}
.page-link {
  color: #fff; 
  background-color: #91ACCC;
  border: 1px solid #ccc; 
}
.page-item.active .page-link {
 z-index: 1;
 color: #555;
 font-weight:bold;
 background-color: #f1f1f1;
 border-color: #ccc;
 
}
.fas {
line-height: inherit;
}
.form {
	margin-top: 20%;
}
