.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*min-height: 1080px;*/
  margin: 0px 20% 0px 20%;
  max-width: 800px;
  padding: 0px;
  font-family: "NEXON Lv1 Gothic OTF";
  font-weight: normal;
  font-style: normal;
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}