#btn-login {
  cursor: pointer;
  width: 50%;
  height: 60px;
  border-style: solid;
  border-width: thick;
  border-color: #2c3e50;
  border-radius: 8px;
  font-size: 30px;
  font-weight: bold;
  color: #2c3e50;
  background-color: #E9F0FF;
  word-break: keep-all;
}