@media screen {

}

/* list.jsp */
/* #knowledgeForm{ */
/* 	margin-top:200px; */
/* 	margin-bottom:200px; */
/* } */
table{
text-align: center;
}

#quizBtn{
  width: 100%;
  height: 40px;
  border-style: solid;
  border-width: medium;
  border-color: #91ACCC;
  font-size: 20px;
}

/* h3{ */
/* 	margin: 30px; */
/* } */

#listTbl {
	border: 3px solid black;
	border-collapse: collapse;
	width: 100%;
	text-align: center;
}
.btnme-md-3{
	background-color: #91ACCC; 
}

#page {
	margin: 40px;
	text-align: center;
}
/*.content{*/
/*	margin-top:30%;*/
/*}*/

/* #tblDiv{ */
/* 	height: 100%; */
/* 	width: 100%;     */
/* 	margin-top: 40%; */
/* } */

#tblDiv{
	width:100%;
}
	
.tableList:hover {
	background-color: #91ACCC;
	color: white;
	cursor: pointer;
}

.page-link {
  color: #fff; 
  background-color: #91ACCC;
  border: 1px solid #ccc; 
}
.page-item.active .page-link {
 z-index: 1;
 color: #555;
 font-weight:bold;
 background-color: #f1f1f1;
 border-color: #ccc;
 
}
.page-link:focus, .page-link:hover {
  color: #000;
  background-color: #fafafa; 
  border-color: #ccc;
}
.fas {
line-height: inherit;
}
	

#listTbl th, td{
	height: 40px;
}


#keyword{
	margin-left: 20%;
	border-radius: 15px;
	width: 300px;
}

#searchDiv{
	height: 80px;
	width: 100%;
    padding-left: 30%;
}

#search{
  width: 100px;
  height: 40px;
  border-style: solid;
  border-width: medium;
  border-color: #91ACCC;
  font-size: 20px;
}

.page-link {
  color: #fff; 
  background-color: #91ACCC;
  border: 1px solid #ccc; 
  display: inline-block;
  width:78px;
  margin:auto;
  z-index: 1;
  font-weight:bold;
  text-align: center;
}

.page-link:focus, .page-link:hover {
  color: #000;
  background-color: #fafafa; 
  border-color: #ccc;
}

#categoryDiv{
	margin-bottom:10px;
}



/* detail */

/* .detailInput{ */
/* 	width: 250px; */
/*     height: 40px; */
/*     border-style: solid; */
/*     border-width: medium; */
/*     margin: auto; */
/*     border-color: #91ACCC; */
/*     font-size: 20px; */
/* } */

/* #subBtn, #knowList{ */
/*   width: 250px; */
/*   height: 40px; */
/*   border-style: solid; */
/*   border-width: medium; */
/*   margin-top: 40px; */
/*   margin-left: 32%; */
/*   margin-bottom: 35px; */
/*   border-color: #91ACCC; */
/*   font-size: 20px; */
/* } */

#category{
	height:50px;
}

#detailContentTd{
	text-align: left;
}
#detailCategoryTd{	
	padding-bottom: 30px;
}

/* #knowledgeDetailDiv{ */
/* 	padding-top:30%; */
/* } */

#detailBtnDiv{
	text-align: center;
	height: 280px;
}
#subBtn{
	display :inline-block;
}